body {
  font-family: "Georgia Pro", Georgia, Times, "Times New Roman", Serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir Next", "SegoeUI", arial, sans-serif;
  font-weight: 500;
}

h1 {
  /* new styles */
  font-size: 2.315em; /* 37px */
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #c8bc9d;
  column-span: all;
}
h2 {
  font-weight: 600;
  font-size: 1.75em;
  line-height: 1.25;
  margin-top: 1.036em;
  margin-bottom: 0.2859em;
}
h3 {
  font-size: 1.314em;
  line-height: 1.29;
  margin-top: 0.619em;
  margin-bottom: 0.38em;
}
abbr {
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 1.25;
  letter-spacing: 0.1em;
}
article {
  max-width: 70em;
  columns: 20em;
  column-gap: 1.5em;
  margin: 0 auto;
}
p {
  hyphens: auto;
  margin-top: 0;
}
p + p {
  text-indent: 1.25em;
}
.source {
  /* column-span: all; */
}
